docx2txt
fastapi
langchain
langchain_tavily
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone 
langchain-text-splitters
langgraph
multipart
pinecone 
pypdf
python-dotenv
requests 
sentence-transformers
streamlit
unstructured
uuid 
uvicorn