docx2txt
fastapi
uvicorn
streamlit
python-dotenv
slowapi
pinecone
langchain
langchain-pinecone
langchain-openai
langchain_tavily
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langgraph
multipart
pypdf
requests
sentence-transformers
unstructured
uuid
